

.layout {
  display: flex;
  transition: margin-left 0.3s ease;
}

.menu-colapsado .contenido-principal {
  margin-left: 60px; /* se expande cuando el menú se contrae */
}

.contenido-principal {
  margin-left: 250px;
  padding: 2rem;
  width: 100%;
  background-color: var(--fondo-contenido);
  color: var(--texto-menu);
  transition: margin-left 0.3s ease;
  min-height: 100vh;
}

.modo-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1200;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  color: var(--texto-menu);
  cursor: pointer;
}
