<div style="display: flex; justify-content: space-between; width: 100%">
  <h1>Clientes</h1>
  <p-button 
    icon="pi pi-plus" 
    label="Agregar"
    styleClass="p-button-outlined p-button-plain"
    [disabled]="(loading$ | async)"
    (click)="onStartAddAction($event)">
  </p-button>
</div>
<br>

<p-progressSpinner *ngIf="loading$ | async"></p-progressSpinner>

<app-customer-table 
  *ngIf="!(loading$ | async)"
  [list]="(customers$ | async) || []" 
  (action)="onListAction($event)">
</app-customer-table>

