

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
  <h1>Cuentas</h1>
  <p-button 
    icon="pi pi-plus" 
    label="Agregar"
    styleClass="p-button-outlined p-button-plain"
    [disabled]="loading$ | async"
    (click)="onAdd()">
  </p-button>
</div>

<ng-container *ngIf="loading$ | async; else tableContent">
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh">
    <p-progressSpinner strokeWidth="4"></p-progressSpinner>
  </div>
</ng-container>

<ng-template #tableContent>
  <app-account-table 
    *ngIf="!(loading$ | async)"
    [list]="(accountList | async) || []"
    (action)="handleTableAction($event)">
  </app-account-table>
</ng-template>
