/* You can add global styles to this file, and also import other style files */
/* Global Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* Variables por defecto (modo claro) */
:root {
  --fondo-menu: #ffffff;
  --texto-menu: #000000;
  --fondo-contenido: #f4f4f4;
}

/* Variables para modo oscuro */
body.dark-mode {
  --fondo-menu: #121212;
  --texto-menu: #ffffff;
  --fondo-contenido: #1e1e1e;
}

